<div class="container mt-4">
    <div class="texto">
        <h2>Quienes Somos</h2>
        <p>
            En nuestra página, encontrarás recomendaciones personalizadas, guías detalladas y consejos útiles para que
            tu
            próximo viaje sea inolvidable. Creemos que cada viaje es una oportunidad única para aprender, crecer y
            conectar
            con diferentes culturas. Nuestro objetivo es inspirarte a explorar nuevos destinos, ya sea que busques una
            escapada relajante, una aventura llena de adrenalina o una inmersión cultural profunda. ¡Únete a nosotros y
            empieza a planificar tu próxima gran aventura!
        </p>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="assets/img/mapas-guias/pacifico.png" class="card-img-top" alt="Pacifico">
            <div class="card-body">
                <h5 class="card-title">Pacifico</h5>
                <p class="card-text">Viaje al pacifico colombiano y descubra innumerables bellezas naturales que debes
                    conocer. Atrévete a vivir la aventura del Pacífico y conoce nuestros destinos.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/mapas-guias/atlantico.png" class="card-img-top" alt="Atlantico">
            <div class="card-body">
                <h5 class="card-title">Atlantico</h5>
                <p class="card-text">Viaje al pacifico colombiano y descubra innumerables bellezas naturales que debes
                    conocer. Atrévete a vivir la aventura del Pacífico y conoce nuestros destinos.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/mapas-guias/andina.png" class="card-img-top" alt="Andina">
            <div class="card-body">
                <h5 class="card-title">Andina</h5>
                <p class="card-text">Viaje al pacifico colombiano y descubra innumerables bellezas naturales que debes
                    conocer. Atrévete a vivir la aventura del Pacífico y conoce nuestros destinos.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/mapas-guias/amazonia1.png" class="card-img-top" alt="Amazonia">
            <div class="card-body">
                <h5 class="card-title">Amazonia</h5>
                <p class="card-text">Viaje al pacifico colombiano y descubra innumerables bellezas naturales que debes
                    conocer. Atrévete a vivir la aventura del Pacífico y conoce nuestros destinos.</p>
            </div>
        </div>
    </div>
</div>