/* .header {
  background-image: url('.assets/img/navbar/navbar.jpg');
  background-size: cover;
  color: white;
  padding: 100px 20px;
}

.header-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 1.5em;
} */
